.headerContainer {
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: end;
    position: relative;


}

.topWrapper {
    width: 100%;
    display: flex;
}



.logo {
    width: 150px;
    height: 150px;
    display: inline;
    margin-right: auto;
    margin-top: 1em;
    margin-left: 1.4em;
}

.hamburger {
    margin: 1em;
    cursor: pointer;
    font-size: 3em;


}

.hiddenHamburger {
    display: none;

}

.navbar {
    position: absolute;
    transition: 1s ease;
    top: -1000%;
}

.activeNavbar {

    position: absolute;
    transition: 1s ease;
    background: transparent;
    height: 80vh;
    width: 20%;
    top: 20%;


}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

.links a {
    text-decoration: none;
    padding: .5em;
    /* margin-left: 16px; */
    color: #FFF;
    /* letter-spacing: .1ch; */
    font-size: clamp(1rem, 0.7153rem + 1.6368vw, 1.2rem);
    font-size: 1.3rem;
    margin-block: 2.5rem;
}

.menuIcon {
    margin-left: auto;
    margin-top: .5em;
    margin-right: .5em;
    font-size: 2.5em;

}




.close {
    /* display: block; */
    margin: 0 auto;
    font-size: 3em;

    color: #FFF;

}

.hiddenLogin {
    display: none;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1em;
}